In [2]:
# Sensitivity of costing results to cost parameters

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("sim_data_raw_with_cost_ranges.csv")
df

C:\Users\joshsu\AppData\Local\Temp\ipykernel_12996\2260152570.py:1: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("sim_data_raw_with_cost_ranges.csv")

,iptsc_rdts_used,iptsc_drugs_used_school,cases_treated,severe_cases_treated,received_smc_u5,received_smc_5-10,received_smc_10-15,received_ivermectin,received_primaquine,pfpr0_5,...,cost_SMC_u5_mean,cost_facility_low,cost_facility_high,cost_severe,cost_ITNs,cost_ivermectin,cost_primaquine,cost_low,cost_high,cost_mean
0,0,0,2861,0,0,0,0,0,0,0.087048,...,0.0000,12931.72,34103.12,0.0,3500,0.0,0.0,16431.72,37603.120,27017.4200
1,0,0,2813,0,0,0,0,0,0,0.090804,...,0.0000,12714.76,33530.96,0.0,3500,0.0,0.0,16214.76,37030.960,26622.8600
2,0,0,2686,0,0,0,0,0,0,0.092848,...,0.0000,12140.72,32017.12,0.0,3500,0.0,0.0,15640.72,35517.120,25578.9200
3,0,0,2962,0,0,0,0,0,0,0.094327,...,0.0000,13388.24,35307.04,0.0,3500,0.0,0.0,16888.24,38807.040,27847.6400
4,0,0,2801,0,0,0,0,0,0,0.092801,...,0.0000,12660.52,33387.92,0.0,3500,0.0,0.0,16160.52,36887.920,26524.2200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,0,0,4391,0,3734,3405,0,0,0,0.300372,...,6245.1150,19847.32,52340.72,0.0,3500,0.0,0.0,33733.24,79890.255,56811.7475
11496,0,0,4476,0,3838,3413,0,0,0,0.308730,...,6419.0550,20231.52,53353.92,0.0,3500,0.0,0.0,34220.88,81199.455,57710.1675
11497,0,0,4426,0,3698,3363,0,0,0,0.298432,...,6184.9050,20005.52,52757.92,0.0,3500,0.0,0.0,33771.68,80036.105,56903.8925
11498,0,0,4519,0,3703,3384,0,0,0,0.297721,...,6193.2675,20425.88,53866.48,0.0,3500,0.0,0.0,34241.13,81247.645,57744.3875
11499,0,0,4363,0,3605,3377,0,0,0,0.302395,...,6029.3625,19720.76,52006.96,0.0,3500,0.0,0.0,33439.69,79111.520,56275.6050

# One-way sensitivity means: take the mean of the cost parameters and vary one parameter at a time

In [4]:
def sample_as_normal(min_val, max_val, n_samples):
    # Sample from normal distribution where 99% of probability distribution is within min and max
    mean = (min_val + max_val) / 2
    sigma = 0.194*(max_val - min_val)
    return np.random.normal(mean, sigma, n_samples)

In [6]:
df = pd.read_csv("sim_data_full_with_costs_corrected.csv")
df

,archetype,transmission_level,scenario_number,mean,std,mean_iptsc,std_iptsc,mean_smc,std_smc,mean_facility,std_facility
0,Central,0.05,0,27033.363580,4220.771814,0.000000,0.000000,0.0,0.0,23533.363580,4220.771814
1,Central,0.05,5,22855.555324,3445.400487,0.000000,0.000000,0.0,0.0,18355.555324,3445.400487
2,Central,0.05,6,28774.074276,3835.152515,4686.802973,650.289079,0.0,0.0,20587.271303,3780.953367
3,Central,0.05,7,31208.624665,3579.317443,16474.150364,2602.503140,0.0,0.0,11234.474301,2490.055553
4,Central,0.05,8,31525.574512,2909.548986,13053.318339,688.024777,0.0,0.0,14972.256173,2824.078409
...,...,...,...,...,...,...,...,...,...,...,...
110,Southern,0.40,5,45600.264481,7211.276095,0.000000,0.000000,0.0,0.0,41100.264481,7211.276095
111,Southern,0.40,6,48092.209036,7072.012439,4488.452458,621.611041,0.0,0.0,40103.756578,7043.348296
112,Southern,0.40,7,52907.274806,6287.415975,17164.300352,2719.086228,0.0,0.0,32242.974454,5670.758788
113,Southern,0.40,8,49977.913421,6005.660876,12538.273669,647.486072,0.0,0.0,33939.639752,5973.925095
114,Southern,0.40,9,81788.903070,5840.633780,49127.982613,2810.682476,0.0,0.0,29160.920457,5145.561703

In [8]:
np.sqrt(3869**2+610**2)

3916.7921823859892

In [ ]:
# Sensitivity of health-system perspective costs to facility costs
costs_all = []
costs_iptsc_all = []
costs_smc_all = []
costs_facility_all = []

for index, row in df_scenario.iterrows():
    cost_IPTsc = sample_as_normal(row["cost_IPTsc_low"], row["cost_IPTsc_high"], N_per_replicate)
    cost_SMC_u5 = sample_as_normal(row["cost_SMC_u5_low"], row["cost_SMC_u5_high"], N_per_replicate)
    cost_facility = sample_as_normal(row["cost_facility_low"], row["cost_facility_high"], N_per_replicate)
    
    cost = cost_IPTsc + cost_facility + row["cost_severe"] + row["cost_ITNs"] + cost_SMC_u5 + row["cost_ivermectin"] + row["cost_primaquine"]
    
    costs_all.extend(cost)
    costs_iptsc_all.extend(cost_IPTsc)
    costs_smc_all.extend(cost_SMC_u5)
    costs_facility_all.extend(cost_facility)
    
return np.mean(costs_all), np.std(costs_all), np.mean(costs_iptsc_all), np.std(costs_iptsc_all), np.mean(costs_smc_all), np.std(costs_smc_all), np.mean(costs_facility_all), np.std(costs_facility_all)

In [ ]:
def sample_costs(df_scenario, N_per_replicate=10000):
    costs_all = []
    costs_iptsc_all = []
    costs_smc_all = []
    costs_facility_all = []
    
    for index, row in df_scenario.iterrows():
        cost_IPTsc = sample_as_normal(row["cost_IPTsc_low"], row["cost_IPTsc_high"], N_per_replicate)
        cost_SMC_u5 = sample_as_normal(row["cost_SMC_u5_low"], row["cost_SMC_u5_high"], N_per_replicate)
        cost_facility = sample_as_normal(row["cost_facility_low"], row["cost_facility_high"], N_per_replicate)
        
        cost = cost_IPTsc + cost_facility + row["cost_severe"] + row["cost_ITNs"] + cost_SMC_u5 + row["cost_ivermectin"] + row["cost_primaquine"]
        
        costs_all.extend(cost)
        costs_iptsc_all.extend(cost_IPTsc)
        costs_smc_all.extend(cost_SMC_u5)
        costs_facility_all.extend(cost_facility)
        
    return np.mean(costs_all), np.std(costs_all), np.mean(costs_iptsc_all), np.std(costs_iptsc_all), np.mean(costs_smc_all), np.std(costs_smc_all), np.mean(costs_facility_all), np.std(costs_facility_all)

def sample_costs_pandas(group):
    m, s, m_iptsc, s_iptsc, m_smc, s_smc, m_facility, s_facility = sample_costs(group)
    return pd.Series([m, s, m_iptsc, s_iptsc, m_smc, s_smc, m_facility, s_facility], index=['mean', 'std', 'mean_iptsc', 'std_iptsc', 'mean_smc', 'std_smc', 'mean_facility', 'std_facility'])