In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [10]:
min_week_gap = 6

In [5]:
w1_options = np.arange(52-min_week_gap*2)

In [6]:
w1_options

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43])

In [7]:
(52-8)*(52-8)*(52-8)

85184

In [16]:
w1_array = np.array([])
w2_array = np.array([])
w3_array = np.array([])

total_options = 0
w1_options = np.arange(52-min_week_gap*2)
for w1 in w1_options:
    min_w2 = w1 + min_week_gap
    max_w2 = 52-min_week_gap
    w2_options = np.arange(min_w2, max_w2)
    for w2 in w2_options:
        min_w3 = w2 + min_week_gap
        max_w3 = np.min([52, w1+52-min_week_gap])
        w3_options = np.arange(min_w3, max_w3)
        
        w1_array = np.append(w1_array, np.ones_like(w3_options)*w1)
        w2_array = np.append(w2_array, np.ones_like(w3_options)*w2)
        w3_array = np.append(w3_array, w3_options)
        total_options += len(w3_options)

In [14]:
total_options

10710

In [15]:
np.append([1,2], [3,4])

array([1, 2, 3, 4])

In [23]:
import pandas as pd

In [37]:
df = pd.DataFrame({"w1": w1_array, 
                   "w2": w2_array, 
                   "w3": w3_array, 
                   "d1": ((w1_array+1)*7).astype(int),
                   "d2": ((w2_array+1)*7).astype(int),
                   "d3": ((w3_array+1)*7).astype(int),
                  "scenario_number": np.arange(len(w1_array))})

In [38]:
df

         w1    w2    w3   d1   d2   d3  scenario_number
0       0.0   6.0  12.0    7   49   91                0
1       0.0   6.0  13.0    7   49   98                1
2       0.0   6.0  14.0    7   49  105                2
3       0.0   6.0  15.0    7   49  112                3
4       0.0   6.0  16.0    7   49  119                4
...     ...   ...   ...  ...  ...  ...              ...
10705  37.0  45.0  51.0  266  322  364            10705
10706  38.0  44.0  50.0  273  315  357            10706
10707  38.0  44.0  51.0  273  315  364            10707
10708  38.0  45.0  51.0  273  322  364            10708
10709  39.0  45.0  51.0  280  322  364            10709

[10710 rows x 7 columns]

In [26]:
np.max(df["w1"]+df["w2"]+df["w3"])

135.0

In [30]:
np.min(df["w1"]+df["w2"]+df["w3"])

18.0

In [39]:
df.to_csv("iptsc_timing_options_without_terms.csv", index=False)